		<div class="sidebar" th:fragment="menu">
				<a th:href="@{/}"><img src="/images/logo.png" class="image"></a>
				<h2>ГПУ — Сомовит</h1>
			<ul>
				<li><a href="#"><i class="fas fa-calendar-alt"></i>Текущ график</a></li>
				<li><a th:href="@{/police_officers}"><i class="fas fa-user"></i>Управление на служители</a></li>
				<li><a href="#" th:href="@{/patrols}"><i class="fas fa-users"></i>Управление на патрули</a></li>
				<li><a href="#"><i class="fas fa-calendar-plus"></i>Създай график</a></li>
				<li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
				<li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
				<li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
			</ul>
			</div>
		<div class="main_content">
<div class="header">Welcome!! Have a nice day.</div>
			<div class="info"></div>
		</div>
